<div *ngIf="headlines" style="width: 100%; height: 500px;">
    <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator">
        <slide *ngFor="let slide of headlines.articles; let index=index">
            <img [src]="slide.urlToImage" alt="image slide" style="display: block; width: 100%;">
            <a [href]="slide.url">
                <div class="carousel-caption">
                    <h4>{{slide.title}}</h4>
                    <p>({{slide.author}}) {{slide.publishedAt}}</p>
                </div>
            </a>
        </slide>
    </carousel>
    <br />
    <div>
        
    </div>
</div>

<button type="button" (click)="getHeadlinesUA()">Fetch Headlines</button>
<button type="button" (click)="getBusinessUA()">Fetch Business</button>
<button type="button" (click)="getEntertainmentUA()">Fetch Entertainment</button>
<button type="button" (click)="getHealthUA()">Fetch Health</button>
<button type="button" (click)="getScienceUA()">Fetch Science</button>
<button type="button" (click)="getSportsUA()">Fetch Sports</button>
<button type="button" (click)="getTechnologyUA()">Fetch Technology</button>
